h1 {
    color: aqua; text-align: center;font-style: bold; font-family: inherit;
 font-size-adjust: auto;font-size: 100px;
top: 0%}
h2 {
    color: bisque;text-align-last: left;font-family: sans-serif;text-decoration: underline;
}
h3{
    color: black;text-shadow:4px 1px 10px #C1C5C9 inset ; border: 5%; text-decoration-color: darkorange;font-size: 30px;
    margin: auto;text-align: center;
}
*{ 
    border: 1px  !IMPORTANT
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.row {
    width: auto; display: flex; flex-wrap: wrap; align-items: center; text-align:center; text-align: center;
}
.col-1{ 
width: auto;
}
.col-2{
    width: 20%; font-family: sans-serif; font-size-adjust: auto; background-color:darkgray;font-style: oblique; 
}
.col-3 {
    width: 20%; 

}
.col-4 {
    width: auto;
}
element.style {
     padding: 10px; margin: 10px;
}
.reading-area{
    width: 100%;
    height: 100%;
    overflow: auto;
}
@media only print and (max-width: 300px){
    p{ display: none;background-color: blue;}
}
.center { align-content: center;
    text-align: center;
    align-content: center;
    position: absolute;
    left: 10%;
    top: 20%;
    width: 80%;
    padding-top: 1%;
    padding-bottom: 2%;
    padding-Left: 1%;
    padding-right: 1%;
    box-shadow: 0px 1px 10px #C1C5C9 inset;
    border-radius: 5px;
    
}
.face{
    text-align: center;
    
}
.background{
    image-orientation: 1%;
}
.align{
    text-align: center;
    align-content: center;
    margin-top: 10px;
    margin-left: 43%;
    margin-right: 45.2%;
    box-shadow: 0px 0px 10px #000001 inset;
    border-radius: 1%;
}
.icon{
    border-image-width: auto; width: 10px;color: black; image-resolution: from-image; animation-duration: 10min ;
    display: inline-block;
}
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.links {
    text-align: center;
}
body {
    color: #222;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1.5;
    cursor: auto;
}
.img{
    box-sizing: border-box; 
    border-bottom-style: ridge;
    align-content: center;
    
}
.tab{
    text-align: center;
    margin-left: 28%;
    margin-right: 0%;
    
    
}
*, *::before, *::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
glyph .glyph-icon {
    padding: 1px;
    display: block;
    font-family: "Flaticon";
    font-size: 64px;
    line-height: 1;
}